@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Muli", sans-serif;
    color: #746859;
    background-color: white;
}
.navbar-logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: auto;
}
.language {
    display: flex;
    flex-wrap: nowrap;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.navbar-logo img {
    width: 150px;
    height: 100px;
}
@media (max-width: 992px) {
    .navbar-logo img {
        width: 100px;
        height: 50px;
    }
}
.navbar-toggler {
    border: 0;
}
.language li {
    border-left: 1px #746859 solid; 
}
.language li:first-child {
    border-left: 0; 
}
.language li a {
    padding: 0 4px;
}

#navbarSupportedContent {
    flex-basis: 100%;
    justify-content: center;
}
.header .navbar-nav .nav-item {
    padding-left: 10px;
}
.header .navbar-nav .nav-item .nav-link{
    padding: 4px 0;
}
h2.section-title {
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
}
h3.section-title {
    font-size: 28px;
    text-align: left;
    padding: 20px 0;
}
.news-container .row {
    padding: 15px 0;
    border-bottom: #746859 1px solid;

}
.news-container .news-text {
    font-size: 14px;
    text-align: justify;
}
.news-container .news-link {
    font-size: 14px;
    float: right;
    margin-top: -2px;
    color: green;
}
.news-container .news-link:hover {
    color: rgb(42, 18, 68);
}

#main .main-content {
    color: #fff;
}
.main-content .main-links {
    padding-top: 70px;
    padding-bottom: 30px;
}
.main-content .main-links li {
    padding: 8px 0;
    border-bottom: #fff 1px solid;
}
.main-content .main-links li:last-child {
    border-bottom: none;
}
#tournament, #sleeping, #golf-abc, #main{
    position: relative;
}
.main-content .weather {
    position: absolute;
    width: 316px;
    right: 5%;
    /* padding-top: 10px; */
    background-color: rgb(55, 158, 158);
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
}
#main .main-back{
    background: url(../img/golf_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -2;
    clip-path: polygon(0% 10%, 100% 5%, 100% 100%, 0 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#tournament .tournament-back{
    background: url(../img/golf_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -2;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 90%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#tournament .tournament-cover {
    background-color: #db6833bc;
    position: absolute;
    z-index: -1;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 80%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#tournament .tournament-content{
    color: #fff;
}
.tournament-content h2.section-title {
    padding-top: 70px;
}
.tournament-content .month{
    padding: 25px 5px;
    border-bottom: #fff 1px solid;
}
.tournament-content .month li {
    margin-top: 5px;
}
.div-space {
    height: 100px;
}
.footer-class img {
    padding-top: 20px;
}

.mini-nav {
    justify-content: center;
}
.mini-nav .navbar li{
    padding: 0 6px;
}
#sleeping .mini-nav .vertical-separator {
    height: 13px;
    border-left:#fff solid 1px;
}
#academy .mini-nav .vertical-separator {
    height: 13px;
    border-left:#746859 solid 1px;
}
#sleeping {
    color: #fff;
}
#sleeping h2,
#academy h2 {
    padding-bottom: 0px;
}
.sleeping-text p{
    padding: 5px 0px;
}
#sleeping .div-space {
    height: 50px;
}
.sleeping-back{
    background-color: rgb(55, 158, 158);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -2;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.golf-course-price .table {
    color:#746859;
}
#golf-abc .golf-abc-back{
    background: url(../img/golf_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -2;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 90%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#golf-abc .golf-abc-cover {
    background-color: rgba(55, 158, 158, 0.608);
    position: absolute;
    z-index: -1;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 80%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: multiply;
}
#golf-abc .golf-abc-content{
    color: #fff;
}

#footer-nav li a {
    font-size: 14pt;
    color: #c8c8c6;
    padding: 10px 10px;
    text-align: center;
}
/* @media (max-width: 768px) {
#footer-nav {
    flex-direction: column;
}
} */
#contact .contact-content {
    padding: 5px 10px;
}
.contact-content p {
    padding-bottom: 13px;
}
.contact-content p b {
    padding-bottom: 20px;
}
.nav {
    padding: 20px 0;
}
footer img {
    justify-content: center;
    margin: 0 auto;
    width: 100px;
}
@media (max-width: 768px) {
    #tournament .tournament-cover {
        clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);

    }
    #tournament .tournament-back{
        clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 95%);
    }
    .sleeping-back{
        clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 98%);
    }
    #golf-abc .golf-abc-back{
        clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 95%);
    }
    #golf-abc .golf-abc-cover {
        clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);
    }

}
.scroll-bar-wrapper {
    width: 100%;
    height:10px;
    position:fixed;
    top:0;
    left:0;
    background:#CCCCCC;
  }
  
  .scroll-bar { 
    width:0;
    height: inherit;
    background: #7ecab1;
  }
  